body {
  text-align: justify;
}

h1, h2, h3 {
  display: block;
}

line, path, rect {
  stroke:white;
  stroke-width:1px;
}

text, path {
  fill:white;
}

text {
  font-size: 15px;
}

.preuve {
  padding:10px;
  border-radius: 10px;
  border: solid;
}

ul {
  list-style: circle;
}

li {
  margin-top: 5px;
}

img {
  max-width: 100%;
}

p {
  padding-left: 20px;
}

.algorithm {
  list-style-type: square;
  padding: 20px;
  padding-left: 40px;
  border: solid 1px;
  border-radius: 10px;
  margin-top: 30px;
}
