form {
    margin: 10px;
}

#axiom {
    color: darkgoldenrod;
}

#ruletable td {
    padding-left: 10px;
    padding-right: 10px;
}

#ruletable .token + .nonterminal, #ruletable .nonterminal + .token,
#ruletable .token + .token, #ruletable .nonterminal + .nonterminal {
    margin-left: 10px;
}

#ruletable .token {
    color: cyan;
}

#ruletable .nonterminal {
    color: darkred;
}

td + td + td + td{
    border-left: solid;
}

form {
    margin-left: 0;
}

#nonterminals, #tokens, #rules, #analysis, #parsing, #manual {
    padding-left: 30px;
    width: 97%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#analysis td + td{
    padding-left: 20px;
}

.ruledescription {
    position: absolute;
    background-color: rgb(50,50,50);
    border-radius: 5px;
    border: solid;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    float: left;
}

h2 {
    margin: 0;
    margin-bottom: 15px;
}

#parsesequence > .nonterminal {
    color: darkred;
}

#parsesequence > .token {
    color: cyan;
}

#parsesequence > .token, .nonterminal, .rightarrow {
    margin-left: 10px;
}

#tree{
    padding: 20px;
    width: 95%;
    height: 0;
}

#tree > .token {
    fill: cyan;
}

#tree > .nonterminal {
    fill: darkred;
}

#tree > .epsilon {
    fill: white;
}

#tree > line {
    stroke : darkgray;
    stroke-width: 2px;
}

#tokentable  td {
    padding-left: 20px;
    padding-right: 20px;
}

#nonterminaltable td + td{
    padding-left: 20px;
    padding-right: 20px;
}
